<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">

    <title><%= title %> | Telefonica VIVO</title>

    <meta name="author"                                content="Telefonica VIVO">
    <meta name="viewport"                              content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable"          content="yes">
    <meta name="mobile-web-app-capable"                content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable"          content="yes">
    <meta name="apple-mobile-web-app-title"            content="<%= title %>">

    <link href="<%= base %>assets/img/favicon.png"     rel="shortcut icon">
    <link href="<%= base %>assets/img/apple-icon.png"  rel="apple-touch-icon">
    <link href="<%= base %>assets/css/main.css"        rel="stylesheet">

    <script src="<%= base %>assets/libs/angular/angular.min.js"></script>
    <script src="<%= base %>assets/libs/angular-touch/angular-touch.min.js"></script>
    <script src="<%= base %>assets/js/main.js"></script>
  </head>

  <body>
    <%- yield %>
  </body>
</html>
