<section class="container" ng-app="counterApp">
  <header>
    <img class="logo" alt="<%= title %>" src="<%= base %>assets/img/marca-vivo.png">
  </header>

  <article class="content" ng-swipe-right="reset()" ng-controller="CounterController">
    <div class="counter">
      <span class="number">{{ formated[0] }}</span>
      <span class="number">{{ formated[1] }}</span>
      <span class="number">{{ formated[2] }}</span>
      <span class="number">{{ formated[3] }}</span>
    </div>

    <div class="buttons">
      <button class="button button-plus" ng-click="plus()"></button>
      <button class="button button-less" ng-click="less()"></button>
    </div>
  </article>
</section>
