.buttons {
  margin-left: 30px;
  width: 10%;
  float: right;
}

.button {
  background: @green;
  border-radius: 50%;
  border: none;
  box-shadow: 0 4px 0 @darkGreen;
  color: @white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 20px 10px;
  width: 90px;
  height: 90px;
  position: relative;
  transition: all .3s;
  text-shadow: 0 -2px 1px @darkGreen;

  &:before {
    font-size: 6em;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &.button-plus {
     &:before {
      content: "+";
    }
  }

  &.button-less {
    &:before {
      content: "-";
    }
  }

  &:hover {
    background: darken(@green, 8%);
  }

  &:active {
    box-shadow: 0 1px 0 @darkGreen;
    background: @darkGreen;
    color: lighten(@green, 40%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}
