.counter {
  background: @lightGray;
  box-shadow: inset 0 1px 4px @gray;
  .border-radius;
  font-family: "OfficinaSerif";
  padding: 20px 14px;
  min-height: 190px;
  text-align: center;
  float: left;
  width: 80%;

  .number {
    background: @darkGray;
    .border-radius;
    .box-sizing;
    color: @white;
    display: inline-block;
    font-size: 9em;
    padding: 16px 10px;
    width: 21%;
    margin: 0 8px;
    text-align: center;
    position: relative;
    .animate(@animation: getBig);

    &:after {
      content: "";
      background: rgba(255, 255, 255, .08);
      .border-radius;
      .no-border-radius-top;
      width: 100%;
      height: 100px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}


@-webkit-keyframes getBig {
  0%   {
    -webkit-transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
  }
}

@-moz-keyframes getBig {
  0%   {
    -moz-transform: scale(0%);
  }
  100% {
    -moz-transform: scale(100%);
  }
}
