@font-face {
  font-family: 'OfficinaSerif';
  src: url(../fonts/OfficinaSerifITCTTBold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/OfficinaSerifITCTTBold.woff) format('woff'),
       url(../fonts/OfficinaSerifITCTTBold.ttf)  format('truetype'),
       url(../fonts/OfficinaSerifITCTTBold.svg#OfficinaSerifITCTTBold) format('svg');
  font-weight: normal;
  font-style: normal;
}
