.flex(@value: 1) {
  -webkit-box-flex: @value;
  -moz-box-flex: @value;
  -webkit-flex: @value;
  -ms-flex: @value;
  flex: @value;
}

.flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.border-radius (@radius: 20px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.no-border-radius-top () {
  -webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius:    0;
	border-top-left-radius:         0;

	-webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius:    0;
	border-top-right-radius:         0;
}

.gradient (@startColor: #e5e5e5, @endColor: @white) {
	background-color: @white;
	background: -webkit-linear-gradient(top, @startColor, @endColor) no-repeat;
	background: -moz-linear-gradient(top, @startColor, @endColor) no-repeat;
	background: -ms-linear-gradient(top, @startColor, @endColor) no-repeat;
	background: -o-linear-gradient(top, @startColor, @endColor) no-repeat;
	background: linear-gradient(to bottom, @startColor 0%, @endColor 100%) no-repeat;
}

.user-select () {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.animate(@animation) {
  -webkit-animation: @animation .5s;
  -moz-animation:    @animation .5s;
  -o-animation:      @animation .5s;
  animation:         @animation .5s;
}
