@import "_variables";
@import "_fonts";
@import "_mixin";
@import "_counter";
@import "_buttons";

html {
  .gradient;
  .user-select;
}

body {
  margin: 70px 40px 30px 40px;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

/*
 * Logo
 */
.logo {
  margin-bottom: 60px;
  height: 215px;
  .flex;
}

/*
 * Container
 */
.container {
  width: 800px;
  margin: 0 auto;
}

.content {
}

